* {
  -ms-scroll-chaining: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}

html, body {
	margin: 0;
	padding: 0;
  width: 100%;
  height: 100%;
	font-family: "Calibri", sans-serif;
  overflow-x: hidden;
}

.ui-header .ui-title {
  overflow: visible !important;
  whit-space: normal !important;
}

[data-role="header"] {
  -ms-touch-action: none;
}

[data-role="content"] {
  text-align: center;
}

#etusivu, #tietoa, #liikkeet, #ajastin {
  -ms-touch-action: pan-y;
}

.staticimg {
  width: 100%;
}

#liikelista li .ui-btn {
  float: right;
  /*position: relative;
  top: -0.5em;*/
}

/*#liikelista li > span{
  width: 80%;
  display: inline-block;
}*/

#container {
	width: 100%;
	height: 100%;
	overflow: hidden;
  -ms-touch-action: none;
}

#noscript {
	text-align: center;
	background: red;
	color: white;
	font-size: 2em;
}

#liikelista li {
	cursor: pointer;
}

.hidden {
	display: none;
}

#tamakuvaus, #kierros {
  font-weight: bold;
  font-style: italic;
  font-size: 1.3em;
}

.isoaika, .pieniaika {
  font-weight: bold;
  font-size: 2em;
}

#seuraavaon {
	text-transform: lowercase;
  font-weight: bold;
}

#seuraavakuva {
  text-align: center;
  overflow: hidden;
}

/*#tooltip {
	width: 10em;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.7);
	border: solid black thin;
	text-align: center;
	font-size: 1.5em;
  -ms-touch-action: none;
}*/

#tauko {
	height: 40px;
	width: 100%;
	color: white;
  font-size: 2em;
  font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	background-color: red;
  -ms-touch-action: none;
  z-index: 2;
}

#content li:hover{
	color: #666;
}

/*#animaatiot {
  height: 190px;
  text-align: center;
}*/

#animaatiot img {
  max-width: 80%;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -ms-border-radius: 1em;
}
/*
@media all and (min-height: 700px) {
  #animaatiot {
    height: 260px;
  }
  #animaation img {
    height: 250px;
  }
}*/